.syntaxhighlighter .color4,
.syntaxhighlighter .color4 a
{ 
	color: #006699 !important; 
}

.syntaxhighlighter .color5,
.syntaxhighlighter .color5 a
{ 
	color: #CC6600 !important; 
}
/*
     FILE ARCHIVED ON 19:11:35 Aug 09, 2013 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 07:02:44 May 14, 2021.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 232.57
  exclusion.robots: 0.084
  exclusion.robots.policy: 0.077
  RedisCDXSource: 1.841
  esindex: 0.007
  LoadShardBlock: 207.484 (3)
  PetaboxLoader3.datanode: 228.312 (4)
  CDXLines.iter: 20.737 (3)
  load_resource: 143.009
  PetaboxLoader3.resolve: 67.799
*/